@import 'src/style/variables';

.sortingWishes {
    padding: 1rem;
    border: none;
    background: $light;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
    text-transform: capitalize;
    transition: 0.2s transform;

    &:hover {
        transform: scale(1.1);
    }
}
