@import "src/style/variables.scss";

.app {
    margin-top: 3rem;

    &__title {
        text-align: center;
        color: #e1ebfd;
        margin-bottom: 2rem;
        text-shadow: 0 0 5px #433aa8, 3px -1px 5px #271c6c;
        transition: 0.2s transform;

        &:hover {
            transform: scale(1.1);
        }
    }

}
