$primary: #f34068;
$green: #23c951;
$bg: linear-gradient(190deg,#867bcd,#6a5aab);
$dark: #271c6c;
$light: radial-gradient(circle,rgba(180,182,218,.9) 0,rgba(226,236,253,.9) 100%);
//$green: radial-gradient(circle, rgba(166, 243, 129, 0.9) 0, rgba(72, 234, 65, 0.9) 100%);
